html,body{
  margin:0 auto;
  font-family:Tahoma;
}
.container{
  display:flex;
  padding:10px;
  flex-wrap:wrap;
  flex:1;
}
.center{
  justify-content:center;
  align-items:center;
}

nav{
  background-color:paleturquoise;
  border:solid 1px rgb(8, 19, 68);
  border-radius:5px;
}
nav a{
  color:white;
  padding:10px;
  flex:1;
  text-decoration:none;
  text-align:center;
}
nav a:hover{
  color:black;
  background-color:rgb(149, 204, 255);
}
.subbanner{
  background-color:rgb(200,225,255);
  color:white;
}
#banner{
  background-color:cornflowerblue;
  color:white;
  font-size:20px;
}
#footer{
  background-color:paleturquoise;
  color:white;
  /*position:fixed;*/
  left: 0;
  right: 0;
  bottom:0px;
}
 #cards_output{
   flex:1;
   max-height:600px;;
   overflow-y:scroll;
 }
.card{
  flex:1;
  margin:10px;
  padding:10px;
  border:1px solid gray;
  text-align:center;
  background-color: rgb(171, 220, 196);
  color:white;
}
#map{
  flex:1;
  width:90%;

  height:calc(100vh - 300px);

  border-radius:10px;
  box-shadow:2px 2px 2px black;
}
.highlight{
  font-style:italic;
  color:blue;
}
.heading{
  font-weight:bold;
}
.button{
  text-decoration:none;
  background-color:cornflowerblue;
  color:white;
  border-radius:4px;
  padding:6px;
  box-shadow:2px 2px 2px black;
  cursor: pointer;
}
.button:hover{
  background-color:cornflowerblue;
}

.fitted{
  max-width:200px;
  min-width:200px;
  border-radius:5px;
  
  box-shadow:2px 2px 2px gray;
}
.highlight{
  font-style:italic;
  color:blue;
}
#intro{
  text-align:center;
  font-family:Segoe UI;
  font-size:18px;
}
#style p{
  text-align:center;
  font-size:20px;
  border:double rgb(8, 19, 68);
  padding:7px 7px;
  margin:3px 3px;
  font-family:Segoe UI;

}
#home1{
  text-align:center;
  padding:5px;
  justify-content:center;
  align-items:center;
}
#home2{
  text-align:center;
  padding:5px;
  justify-content:center;
  align-items:center;
}
a{
  text-align:center;
  font-family:-apple-system;
}
#caption{
  background-color:lightseagreen;
  color:lightblue;
  border:1px solid green;
  border-radius: 20px;
  padding:10px;
}
#image{
  width:48x;
}